.form {
    padding: 1.5rem;

    border-radius: 4px;
    
    box-shadow: 0px 0px 10px #0004;

}

.form p {
    margin: 0;
}

.form .btn {
    background-color: #FBB829;
    color: #000000;
    border: none;
}